<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<head>
	{% load static %}
	{% load define_action %}
  	<link rel="stylesheet" type="text/css" href="{% static 'scoringsystem/style.css' %}">
	<title> Experience Evaluation Form </title>
</head>

<body>
	<nav class="navbar navbar-expand-sm navbar-light bg-light clearfix">
		<a class="navbar-brand" href="/admin_home/">Home</a>
		<button class="btn btn-danger pull-right">Log Out</button>
	</nav>
	<form action="submitted" method="POST">
	{% csrf_token %}
		<div class = "container" style="padding: 5px;">
			<li class="list-group-item">
				<h5>Current Judges</h5>
			</li>
			{% for judge in list_judges %}
			<li class="list-group-item">
				<h5>
					{{judge.name}}
				</h5>
			</li>
			{% endfor %}
		  	<li class="list-group-item">
		  		<label for="name">
					<h5>Judge Email:</h5>
				</label>
		  		<input type="text" name="name" class="col-6">
		  	</li>
		  	<li class="list-group-item">
		  		<label for="name">
					<h5>Judge Name:</h5>
				</label>
		  		<input type="text" name="location" class="col-6">
		  	</li>
		  	<div class="row">
				<div class="button-box" style="padding: 10px;">
					<button class="btn btn-primary" type="submit">Add Judge</button>
				</div>
				<div class="button-box" style="padding: 10px;">
					<button class="btn btn-primary" type="submit">Submit</button>
				</div>
			</div>
		</div>
	</form>
</body>
</html>
