<!DOCTYPE html>
<!-- File: email_error.html -->
<!-- Description: This HTML page is rendered when there is an invalid email
entered for the judge. -->

<meta charset="UTF-8">
<html>

<head>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'scoringsystem/style.css' %}">
	<Title>Error page</Title>
</head>

<body>
    <nav class="navbar navbar-expand-sm navbar-light bg-light clearfix">
      <a class="navbar-brand" href="/admin_home/">Home</a>
      <button class="btn btn-outline-dark pull-right">Send Message</button>
      <button class="btn btn-danger pull-right">Log Out</button>
    </nav>

  <div class="container col-12" id="eval_form">
    <div class="card">
      <h1>Judge was not created, email must be valid. Could not send password to {{ email }}.<h1>
    </div>
  </div>
</body>

</html>
