<!DOCTYPE html>
<meta charset="UTF-8">
<html>

<head>
	<Title>Error page</Title>
</head>

<body>
    <nav class="navbar navbar-expand-sm navbar-light bg-light clearfix">
      <a class="navbar-brand" href="index.html">Home</a>
      <button class="btn btn-outline-dark pull-right">Send Message</button>
      <button class="btn btn-danger pull-right">Log Out</button>
    </nav>

  <div class="container col-12" id="eval_form">
    <div class="card">
      <b>An error happened!!</b>
    </div>
  </div>
</body>

</html>
