<!DOCTYPE html>
<!-- File: error.html -->
<!-- Description: This HTML page is rendered when there is an unexpected error. -->

<meta charset="UTF-8">
<html>

<head>
	<Title>Error page</Title>
</head>

<body>
    <nav class="navbar navbar-expand-sm navbar-light bg-light clearfix">
      <a class="navbar-brand" href="index.html">Home</a>
      <a class="btn btn-danger pull-right" href="/logout/">Log Out</a>
    </nav>

  <div class="container col-12" id="eval_form">
    <div class="card">
      <b>An error happened!!</b>
    </div>
  </div>
</body>

</html>
