<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<head>
	{% load static %}
	{% load define_action %}
  	<link rel="stylesheet" type="text/css" href="{% static 'scoringsystem/style.css' %}">
	<title> Experience Evaluation Form </title> 
</head>

<body>
	<nav class="navbar navbar-expand-sm navbar-light bg-light clearfix">
		<a class="navbar-brand" href="#">Home</a>
		<button class="btn btn-danger pull-right">Log Out</button>
	</nav>
	<form action="/project_eval_form/" method="POST"> 
		<div class="container btn-list col-12" id="session_list">
			<form action="/projects_eval_form/" method="POST">
				<li class="list-group-item">
	    			<button class="btn col-12" name="Example_Name">Example_Project</button>
	    		</li>
	    		<li class="list-group-item">
	    			<button class="btn col-12" name="Example_Name">Example_Project</button>
	    		</li>
	    		<!--THE REST OF THE PROJECTS SHOULD BE RENDERED USING SOME KIND OF LOOP LIKE THIS-->
				{% for project in list_projects(session_id) %}
		    		<li>
		    			<button 
		    				class="btn col-12" 
		    				name="{{ project.id }}">
		    				{{ project.name }}
		    			</button>
		    		</li>
				{% endfor %}
			</form>
		</div>
	</form>
</body>
</html>
