<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<head>
	{% load static %}
	{% load define_action %}
  	<link rel="stylesheet" type="text/css" href="{% static 'scoringsystem/style.css' %}">
	<title> Judge Login </title>
</head>

<body>
	<form method="POST">
		{% csrf_token %}
		<div class = "container" style="padding: 5px;">
			<li class="list-group-item">
				<h2><b>Login</b></h2>
		  	</li>
		  	<li class="list-group-item">
		  		<label for="name">
					<h5>Judge Email:</h5>
				</label>
		  		<input type="text" name="user_email" id="user_email" class="col-6">
		  	</li>
	        <li class="list-group-item">
			  	<label for="name">
					<h5>Password:</h5>
				</label>
			  	<input type="text" name="password" id="password" class="col-6">
			</li>
			<div class="row">
				<!--<div class="button-box" style="padding: 10px;">
					<button class="btn btn-primary" type="submit">Submit</button>
				</div>-->
				<a class="navbar-brand" href="/">Login</a>
				<a href="/create_account">Create Account</a>
			</div>
		</div>
	</form>
</body>
</html>