<!DOCTYPE html>
<!-- File: logout.html -->
<!-- Description: This HTML page should redirect users to the login page. -->

<meta charset="UTF-8">
<html>

<head>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'scoringsystem/style.css' %}">
	<Title>Project Evaluation Form</Title>
  <meta http-equiv = "refresh" content = "0; url = /" />
</head>

<body>
<!--
  <div class="container col-12" id="eval_form">
    <div class="card">
      <h1>Logged Out</h1>
      <a href="/">Click here if not redirected to login</a>
    </div>
  </div>
!-->
</body>


</html>
