<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<head>
	{% load static %}
	{% load define_action %}
  	<link rel="stylesheet" type="text/css" href="{% static 'scoringsystem/style.css' %}">
	<title> Judge Home </title>
</head>

<body>
	<nav class="navbar navbar-expand-sm navbar-light bg-light clearfix">
		<a class="navbar-brand" href="#">Home</a>
		<button class="btn btn-danger pull-right">Log Out</button>
	</nav>
	<form action="/project_eval_form/" method="POST">
		<div class="container btn-list col-12" id="session_list">
	    	<!--THE REST OF THE PROJECTS SHOULD BE RENDERED USING SOME KIND OF LOOP LIKE THIS-->
        {% for project in project_list %}
        		<li class="list-group-item">
    				<div class="row col-12">
    					<h5 class="col-2">{{ session.session_name }}</h5>
    					<h5 class="col-2 pull-right">{{ session.session_location }}</h5>
    					<form action="/projects_eval_form/" method="POST" class="col-2">
    						{% csrf_token %}
                <button
  		    				type="submit"
  		    				class="btn col-12"
  		    				name="project_id"
  		    				value="{{ project.id }}">
  		    				Submit scores for {{ project.project_name }}
  		    			</button>
    					</form>
    				</div>
    	    	</li>
    		{% endfor %}

		</div>
	</form>
</body>
</html>
