<!DOCTYPE html>
<meta charset="UTF-8">
<html>

<head>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'scoringsystem/style.css' %}">
	<Title>Project Evaluation Form</Title>
  <meta http-equiv = "refresh" content = "0; url = /judge_home/" />
</head>

<body>
<!--
    <nav class="navbar navbar-expand-sm navbar-light bg-light clearfix">
      <a class="navbar-brand" href="/admin_home/">Home</a>
      <a class="btn btn-danger pull-right" href="/logout/">Log Out</a>
    </nav>

  <div class="container col-12" id="eval_form">
    <div class="card">
      <h1>Submitted!!</h1>
      <a href="/judge_home/">Click here if not redirected to home page</a>
    </div>
  </div>
!-->

</body>

</html>
