<!DOCTYPE html>
<!-- File: deleted_session.html -->
<!-- Description: This HTML page confirms deletion of a session. -->

<meta charset="UTF-8">
<html>

<head>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'scoringsystem/style.css' %}">
	<Title>Delete Session</Title>
  <meta http-equiv = "refresh" content = "0; url = /admin_home/" />
</head>

<body>
  <div class="container col-12" id="eval_form">
    <div class="card">
      <h1>Session Deleted</h1>
      <a href="/admin_home/">Click here if not redirected to home page</a>
    </div>
  </div>
</body>

</html>
